@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #2b0636;
}

td,
th {
  border: 1px solid #eee;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #1822ad;
}
